---
const { tag, title, description, author, date } = Astro.props;
---

<article class="w-full max-w-xs rounded-lg overflow-hidden shadow">
  <img src="https://picsum.photos/400" class="h-48 w-full object-cover" />
  <div class="flex flex-col gap-2 px-4 py-5 bg-white">
    <span
      class:list={["px-2 py-px text-white w-fit rounded-4xl", {
        "bg-red-600": tag === "Popular",
        "bg-teal-600": tag !== "Popular",
      }]}
      class={`px-2 py-px text-white w-fit rounded-4xl ${tag === "Popular" ? "bg-red-600" : "bg-teal-600"}`}
      >{tag}</span
    >
    <h2 class="text-xl font-semibold mt-2">{title}</h2>
    <p>{description}</p>

    <div class="flex mt-4 gap-2">
      <img src="https://picsum.photos/50" class="rounded-full" alt="" />
      <div class="flex flex-col">
        <span>{author}</span>
        <span>{date}</span>
      </div>
    </div>
  </div>
</article>
